node_modules/
tmp/*
!tmp/.gitkeep

temp/



/coverage
/coverage/*
/coverage/lcov-report
.gitignore

coverage/lcov-report/users/services/UpdateUserAvatarService.ts.html
coverage/lcov-report/users/services/index.html
coverage/lcov-report/users/services/CreateUserService.ts.html
coverage/lcov-report/users/services/AuthenticateUserService.ts.html
coverage/lcov-report/appointments/services/index.html
coverage/lcov-report/appointments/services/CreateAppointmentService.ts.html
coverage/lcov-report/index.html
coverage/lcov.info
coverage/.gitkeep
